.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

h1 {
  font-size: 30px;
  margin: 0;
  color: white;
}

.navigation {
  display: flex;
  gap: 20px;
  font-size: 25px;
}

button {
  border: none;
  position: relative;
  text-decoration: none;
}

button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}

button:hover::before {
  width: 100%;
}
